body{
    background-color: #F0F2F5;
    font-family: Helvetica, sans-serif;
}



/* Logo section / left side */

.main{
    width: 70% !important;
    height: 50vh;
    margin: 170px auto !important;
}

.main a{
    text-decoration: none;
}


.left-content{
    width: 580px;
    margin-bottom: 200px !important;
}

.fb-logo{
    width: 300px;
    padding: 0;
    position: relative;
    bottom: 0;
    left: -30px;
}

.main-heading{
    font-size: 28px !important;
}

@media screen and (max-width:1176px) {
    .main-heading{
        font-size: 24px !important;
        padding-right: 15px !important;
    }
}

@media screen and (max-width:760px){
    .main-div{
        flex-direction: column !important;
        align-items: center !important;
    }

    .left-content{
        width: 400px !important;
        margin: auto !important;
    }

    .logo-div{
        text-align: center !important;
    }

    .fb-logo{
        left: 0 !important;
    }

    .logo-text h2{
        text-align: center !important;
    }

    .right-content{
        margin-top: 40px !important;
    }
}


/* right side */

.right-content{
    width: 400px;
}

.main-right{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    width: 400px;
    height: 350px;
    padding: 10px 0 24px 0 !important;
}

.giris-div{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

#eposta{
    width: 340px !important;
    height: 22px !important;
    padding: 25px 36px !important;
    margin: auto a;
    font-size: 17px !important;
    color: #1d2129;
    border-radius: 6px !important;
}

#sifre{
    width: 340px !important;
    height: 22px !important;
    padding: 25px 36px !important;
    margin: auto a;
    font-size: 17px !important;
    color: #1d2129;
    border-radius: 6px !important;
}

#giris-btn{
    width: 330px !important;
    height: 50px !important;
    padding: 0 16px !important;
    border-radius: 6px !important;
}

.bottom-text{
    font-size: 14px!important;
    /* position: relative;
    bottom: 60px; */
}

.bottom-text a:hover{
    text-decoration: underline;
}

.sifre-unutma a:hover{
    text-decoration: underline;
}

.line{
    width: 75%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 50px;
    border-bottom: 1px solid #dadde1;
}

#hesap-btn{
    background-color: #42b72a !important;
    border: none !important;
    border-radius: 6px !important;
    padding: 8px 16px !important;
}

#hesap-btn:hover{
    background-color: #3ba726 !important;
}

/* main responsiveness */


/* footer css */

.footer-container{
    width: 100%;
    height: 160px;
    background-color: #fff;
}

.footer-container a, li{
    color: #8a8d91;
    font-size: 12px;
}

.footer-content{
    width: 60% !important;
    padding: 0 50px !important;
}

.lang-btn{
    padding: 0 8px;
    border: 1px solid #ccd0d5;
    background-color: #f5f6f7;
    color: #8a8d91;
    outline: none;
    border-radius: 2px;
    font-weight: bold;
}

.border-2{
    width: 100%;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #dadde1;
}

.copy-right p{
    color: #8a8d91;
    font-size: 11px;
}