body{
    background-color: #F0F2F5;
    font-family: Helvetica, sans-serif;
}



/* Logo section */

.main{
    width: 100%;
    height: 90vh;
    margin: 250px auto !important;
}

.main a{
    text-decoration: none;
}

.fb-logo{
    width: 300px;
    padding: 0;
    position: relative;
    bottom: 0;
    left: -30px;
}

.main-heading{
    font-size: 24px !important;
}






/* right side */

.main-right{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    width: 400px;
    height: 350px;
    padding: 10px 0 24px 0 !important;
}

.giris-div{
    padding: 14px 16px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

#eposta{
    width: 330px !important;
    height: 22px !important;
    padding: 14px 16px !important;
    font-size: 17px !important;
    color: #1d2129;
    border-radius: 6px !important;
}

#sifre{
    width: 330px !important;
    height: 22px !important;
    padding: 14px 16px !important;
    font-size: 17px !important;
    color: #1d2129;
    border-radius: 6px !important;
}

#giris-btn{
    width: 330px !important;
    height: 50px !important;
    padding: 0 16px !important;
    border-radius: 6px !important;
}